html{
  scroll-behavior: smooth;
}

.top{
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 50px;
    background-image: url('bc.jpg')
    
    
}
h1{
    
    text-align: center;
    border: 1px solid white;
    color: antiquewhite;
    
    
}

body {
   
    background-image: url('bag.jpg')
  }
  
  nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;

   
  }
  
    nav ul li {
      margin: 0 15px; 
      display: inline-block;
      border-radius: 3px;
    }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
    padding: 10px 15px; 
    transition: color 0.3s, background-color 0.3s;
    border-radius: 20px;
    background-color: hsl(0, 3%, 23%);

  }
 

  nav ul li a:hover {
    color: white; 
    background-color: blue;  
    border-radius: 20px; 
   
  }

#aboutmyself{
    margin-top: 100px;
    padding-top: 50px;
}

#child{
    float:left;
    margin-right: 20px;
  
}

#teen{
    float:left;
    margin-right: 20px;
}

#adult{
    float:left;
    margin-right: 20px;
}
#hob{
    float:left;
    margin-right: 20px;
}
#hob2{
    float:left;
    margin-right: 20px;
}



